<a href="https://colab.research.google.com/github/jvscoelho28-source/python_uc1/blob/main/PHYTON_SENAC_AULA01_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

variavel é uma capsula que armazena valores que podem variar ao longo do codigo

### TIPOS PRIMITIVOS
* String - um dado fundamental  que armazena sequencia de caracteres


* Int - numeros inteiros


* Double - numeros fracionados


* Boolean - 0 ou 1

In [ ]:
x=2
#print imprime o valor de x na tela
print (x)

2

In [ ]:
x= x+2
#x é igual ao valor atual dele mais 1
print (x)

4

### Operadores Matematicos

* + SOMA
* - SUB
* "*" Multiplicação
* "/" Divisão

In [ ]:
x=10
print (x + 2)
print (x*2)
print (x - 2)
print (x/2)

12
20
8
5.0

In [ ]:
nome = input ("Digite seu nome: ")
print(f"Olá, {nome}!")

Digite seu nome: João Santos
Olá, João Santos!

In [ ]:
numero1 = int(input("Digite o primeiro numero"))
numero2 = int(input("digite o segundo numero"))
print(numero1+numero2)

Digite o primeiro numero10
digite o segundo numero50
60

In [ ]:
numero1 = int(input("digite o primeiro numero"))
numero2 = int(input("digite o segundo numero"))
print(numero1*numero2/2)

digite o primeiro numero10
digite o segundo numero50
250.0

In [ ]:
base = float(input("digite o valor da base do triangulo retangulo"))
altura = float(input("digite o valor da altura do triangulo retangulo"))
area = (base*altura)/2
print(f"A area do triangulo retangulo é igual a: {area} ")

digite o valor da base do triangulo retangulo10
digite o valor da altura do triangulo retangulo50
A area do triangulo retangulo é igual a: 250.0

In [ ]:
altura = float(input("digite o valor da altura do cubo "))
base = float(input("digite o valor da base do cubo "))
profundidade = float(input("digite o valor da profundidade do cubo "))
volume = (altura*base*profundidade)
print(f"o volume do cubo é igual a: {volume} ")

digite o valor da altura do cubo 15
digite o valor da base do cubo 5
digite o valor da profundidade do cubo 10
o volume do cubo é igual a: 750.0

Operadores logicos

comparação ==

maior ou igual >=

menor ou igual <=

Diferente !=

Maior >

menor <

In [ ]:
senha = int(input("Digite sua senha: "))
senha_sistema = 123456

if senha == senha_sistema:
 print("senha correta!")
else:
 print("senha incorreta!")

Digite sua senha: 123456
123456

In [ ]:
x = 10
while x>=1 :
   print(x)
   x -= 1

10
9
8
7
6
5
4
3
2
1

In [ ]:
x = 1
while x<=10 :
   print(x)
   x += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
x = 2
while x<=100 :
   print(x)
   x += 2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

Um parque de diversões cobra a entrada com base na idade do visitante, segundo as seguintes regras:

    Crianças de 0 a 5 anos entram gratuitamente.

    Pessoas de 6 a 17 anos pagam R$10,00.

    Pessoas de 18 a 59 anos pagam R$20,00.

    Pessoas com 60 anos ou mais pagam R$8,00.

Escreva um código que:

    Peça ao usuário que digite a idade.

    Use estruturas if, elif e else para determinar o valor da entrada com base na idade.

    Mostre uma mensagem com o valor que deve ser pago ou se a entrada é gratuita.

In [ ]:
for x in range(0, 10):
  print(x)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for x in range(0, 21, 2):
  print(x)

0
2
4
6
8
10
12
14
16
18
20

In [ ]:
if idade <=18:
  print("é uma criança")
else idade 18=25
  print("é um jovem")
  if idade <25=65
  print("é um adulto")
  if idade <65
  print("é um idoso")

Digite sua idade: 23
é um jovem

In [ ]:
import random
numero_aleatorio = random.randint(1, 10)
print(numero_aleatorio)

6

In [ ]:
import random
numero_aleatorio = random.randint(1, 50)
print(numero_aleatorio)

22

In [ ]:
import random

answer = random.randint(1, 10)

while 1 > 0:
  adivinhe = int(input("Acerte o número entre 1 e 10."))
  if answer == adivinhe:
    print("Você adivinhou!")
    break
  elif answer < adivinhe and adivinhe <= 10:
    print("Esse número é maior que o desejado.")
  elif adivinhe >10:
    print("Esse número não existe na sequência.")
  else:
    print("Esse número é menor que o desejado.")

Acerte o número entre 1 e 10.7
Esse número é maior que o desejado.
Acerte o número entre 1 e 10.4
Você adivinhou!

In [ ]:
import random


opcoes = ["pedra", "papel", "tesoura"]
computador = random.choice(opcoes)
print(computador)

usuario = input("Escolha pedra, papel, tesoura: ").lower()

if (usuario == computador) :
  print("Empate")
elif ((usuario == opcoes[0] and computador == opcoes[2]) or
      (usuario == opcoes [1] and computador == opcoes [0]) or
      (usuario == opcoes [2] and computador == opcoes [1])):
      print("Ganhou")
else:
  print("Perdeu")

papel
Escolha pedra, papel, tesoura: tesoura
Ganhou

In [ ]:
numero = int(input("Digite um número: "))

if 10 <= numero <= 20:
    print("O número está no intervalo entre 10 e 20.")
else:
    print("O número está fora do intervalo.")

Digite um número: 17
O número está no intervalo entre 10 e 20.

In [ ]:
idade = int(input("Digite sua idade"))

if idade >= 16:
  print("pode votar")
elif idade >= 18:
  print("pode dirigir")

Digite sua idade23
pode votar

In [ ]:
a = True
b = False

print(a and b)  # False (True AND False is False)
print(a or b)   # True (True OR False is True)
print(not a)    # False (NOT True is False)

False
True
False

In [ ]:
frutas = ["morango", "uva", "manga"]
for fruta in frutas :
    print(fruta)

morango
uva
manga

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(10) :
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range (5) :
  print (f" >> {i} << ")

 >> 0 <<
 >> 1 <<
 >> 2 <<
 >> 3 <<
 >> 4 <<

In [ ]:
frutas = ["abacaxi", "figo", "romã", "goiaba"]
for fruta in frutas :
  print(fruta)

abacaxi
figo
romã
goiaba

In [ ]:
contador = 0
while contador < 5:
  print(contador)
  contador += 1

0
1
2
3
4

In [ ]:
cont=1
while cont < 100 :
  print (f">> {cont} <<")
  cont = cont + 2

>> 1 <<
>> 3 <<
>> 5 <<
>> 7 <<
>> 9 <<
>> 11 <<
>> 13 <<
>> 15 <<
>> 17 <<
>> 19 <<
>> 21 <<
>> 23 <<
>> 25 <<
>> 27 <<
>> 29 <<
>> 31 <<
>> 33 <<
>> 35 <<
>> 37 <<
>> 39 <<
>> 41 <<
>> 43 <<
>> 45 <<
>> 47 <<
>> 49 <<
>> 51 <<
>> 53 <<
>> 55 <<
>> 57 <<
>> 59 <<
>> 61 <<
>> 63 <<
>> 65 <<
>> 67 <<
>> 69 <<
>> 71 <<
>> 73 <<
>> 75 <<
>> 77 <<
>> 79 <<
>> 81 <<
>> 83 <<
>> 85 <<
>> 87 <<
>> 89 <<
>> 91 <<
>> 93 <<
>> 95 <<
>> 97 <<
>> 99 <<

In [ ]:
cont=0
while cont < 100 :
  print (f">> {cont} <<")
  cont = cont + 2

>> 0 <<
>> 2 <<
>> 4 <<
>> 6 <<
>> 8 <<
>> 10 <<
>> 12 <<
>> 14 <<
>> 16 <<
>> 18 <<
>> 20 <<
>> 22 <<
>> 24 <<
>> 26 <<
>> 28 <<
>> 30 <<
>> 32 <<
>> 34 <<
>> 36 <<
>> 38 <<
>> 40 <<
>> 42 <<
>> 44 <<
>> 46 <<
>> 48 <<
>> 50 <<
>> 52 <<
>> 54 <<
>> 56 <<
>> 58 <<
>> 60 <<
>> 62 <<
>> 64 <<
>> 66 <<
>> 68 <<
>> 70 <<
>> 72 <<
>> 74 <<
>> 76 <<
>> 78 <<
>> 80 <<
>> 82 <<
>> 84 <<
>> 86 <<
>> 88 <<
>> 90 <<
>> 92 <<
>> 94 <<
>> 96 <<
>> 98 <<

In [ ]:
matriz = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
]

for linha in matriz:
  for elemento in linha:
    print(elemento, end=" ")
  print()

1 2 3
4 5 6
7 8 9

In [ ]:
for i in range(10):
    if i == 5:
      break   # Para o loop quando i for 5
    if i % 2 ==0:
      continue  # Pula números pares
    print(i)

1
3

In [ ]:
for i in range(3):
  print(i)
else:
   print("Loop concluido!")

0
1
2
Loop concluido!

In [ ]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for numero in range(1, 11):
    quadrado = numero ** 2
    print(f"O quadrado de {numero} é {quadrado}")

O quadrado de 1 é 1
O quadrado de 2 é 4
O quadrado de 3 é 9
O quadrado de 4 é 16
O quadrado de 5 é 25
O quadrado de 6 é 36
O quadrado de 7 é 49
O quadrado de 8 é 64
O quadrado de 9 é 81
O quadrado de 10 é 100

In [ ]:
contador = 10

while contador >= 1:
    print(contador)
    contador -= 1

10
9
8
7
6
5
4
3
2
1

In [ ]:
soma = 0

for i in range(1, 101):
    soma += i

print("A soma dos números de 1 a 100 é:", soma)

A soma dos números de 1 a 100 é: 5050

EXERCICIO 1

In [12]:
def saudacao() :
  print ("Olá, seja bem-vindo ao curso de Phyton!")
# chamando a funcao
saudacao()

Olá, seja bem-vindo ao curso de Phyton!

EXERCICIO 2

In [13]:
def soma(a, b):
    return a + b
# Exemplo de chamada
resultado = soma(28, 25)
print("A soma é:", resultado)

A soma é: 53

EXERCICIO 3

In [14]:
def par_ou_impar(n) :
  if n % 2== 0:
    return "Par"
  else:
    return "Impar"
# Exemplo de chamada
print("O número 8 é", par_ou_impar(8))
print("O número 11 é", par_ou_impar(11))

O número 8 é Par
O número 11 é Impar